<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>782008930652-ofb89313rmfot29mkb9p5j50v0kq9puc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.782008930652-ofb89313rmfot29mkb9p5j50v0kq9puc</string>
	<key>API_KEY</key>
	<string>AIzaSyAngK1CV6B7ij7-gx3j8oKSqdr_A-ylU9U</string>
	<key>GCM_SENDER_ID</key>
	<string>782008930652</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.unchainedPedicabs.app</string>
	<key>PROJECT_ID</key>
	<string>senior-project-f7553</string>
	<key>STORAGE_BUCKET</key>
	<string>senior-project-f7553.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:782008930652:ios:87904fc9ec50009e</string>
	<key>DATABASE_URL</key>
	<string>https://senior-project-f7553.firebaseio.com</string>
</dict>
</plist>